<div class="grid grid-cols-5 gap-3">
    <div class="flex flex-col">
        <div class="text-1xl font-bold ">
            BloomSounds
        </div>
        <button class="rounded p-2 m-2 bg-cyan-500 hover:bg-cyan-600 ...">Home</button>
        <button class="rounded p-2 m-2 bg-cyan-500 hover:bg-cyan-600 ...">Explore</button>
        <button class="rounded p-2 m-2 bg-cyan-500 hover:bg-cyan-600 ...">Podcast</button>
        <button class="rounded p-2 m-2 bg-cyan-500 hover:bg-cyan-600 ...">Trending</button>
        <button class="rounded p-2 m-2 bg-cyan-500 hover:bg-cyan-600 ...">Liked Song</button>
        <button class="rounded p-2 m-2 bg-cyan-500 hover:bg-cyan-600 ...">Settings</button>
    </div>
    <div class="col-span-4 flex flex-col">Hello
        <div class="text-1xl font-bold">Enjoy Listening  
            <div> <input type="input"></div>
    </div>
    
  </div>
