<div class="grid grid-cols-5 gap-3">
    <div class="flex flex-col">
        <div class="text-1xl p-2 font-bold ">
            BloomSounds
        </div>
        <button class="rounded p-2 m-2 bg-pink-200 hover:bg-pink-500 ...">Home</button>
        <button class="rounded p-2 m-2 bg-pink-200 hover:bg-pink-500 ...">Explore</button>
        <button class="rounded p-2 m-2 bg-pink-200 hover:bg-pink-500 ...">Podcast</button>
        <button class="rounded p-2 m-2 bg-pink-200 hover:bg-pink-500 ...">Trending</button>
        <button class="rounded p-2 m-2 bg-pink-200 hover:bg-pink-500 ...">Liked Song</button>
        <button class="rounded p-2 m-2 bg-pink-200 hover:bg-pink-500 ...">Settings</button>
    </div>
    <div class="col-span-4 flex flex-col">Hello
        <div class="text-1xl font-bold">Enjoy Listening  
            <div> <input type="input"></div>
        </div>
        <div class="border-2 p-4 rounded-md bg-pink-200 w-3/4 h-72 grid grid-cols-2 gap-3">
            <div>
                <div class="p-2">Top Playlist</div>
                <div class="p-2">Chilled Music</div>
                <div class="p-2">Enjoy the music playlist that feels more like you.</div>
                <div class="flex flex-row px-2 pt-6"><div><img class="object-scale-down h-10 w-10"src="\assets\play.svg"></div><div class="mt-1">Listen Playlist</div></div>
            </div>
              
            <div class=" w-80 h-80 m-5">
               <img src="\assets\tone_1.jpg"> 
            </div>
        </div>
        <div>
            <span class="text-1x1 font-bold">Recent Playlist</span>
        </div>
        <div class="flex flex-row">
            <div class="bg-white p-3">
                <img class="w-48 h-48" src="\assets\workout.jpg">
                <span>WorkOut Hits</span>
                <span>Enjoy as you work out</span>
            </div>
            <div class="bg-white p-3">
                <img class="w-48 h-48" src="\assets\chilled.jpg">
                <span>Chilled Hits</span>
                <span>Enjoy as you are relaxed</span>
            </div>
            <div class="bg-white p-3">
                <img class="w-48 h-48" src="\assets\acoustic.jpg">
                <span>Acoustic Hits</span>
                <span>Enjoy great Acoustics</span>
            </div>
        </div>
    
  </div>
